{% extends "base.html" %}

{% block content %}

<body>
    <div class="container mt-5">
        <h1>Task Tracker</h1>
        <form action="/add_task" method="POST">
            <div class="input-group m-3 w-50">
                <input type="text" name="task" class="form-control" placeholder="Enter a Task &amp; Description"">
                <div class=" input-group-append">
                <button type="submit" class="btn btn-outline-success" data-toggle="tooltip" data-placement="top"
                    title="Add Task" value="Add Task">Add Task</button>
            </div>
    </div>
    </form>
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="h4 mt-4">Tasks:</p>
                <ul>
                    {% for task in tasks %}
                    {% endfor %}
                </ul>
                <ul class="list-group">
                    {% for task in tasks %}
                    <li class="list-group-item d-flex justify-content-between align-items-center mb-2">
                        {{ task }}
                        <form action="/delete_task" method="POST" style="display: inline;">
                            <input type="hidden" name="task" value="{{ task }}">
                            <!-- <input type="submit" value="Delete"> -->
                            <button type="submit" class="btn btn-outline-danger btn-sm mx-5" value="Delete"
                                data-toggle="tooltip" data-placement="top" title="Delete Task">Delete</button>
                        </form>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    </div>

</body>

{% endblock %}